    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->


    <!--Header-top-->
    <section class="header-top">
        <div class="container">
            <div class="header-info">
                <ul class="info-list">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>3100 St. Pölten</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mo - Fr&nbsp;&nbsp;08.00 - 17.00</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+436767707770</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+436764971450</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>office@ancora24h.at</li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/ancora24h/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Header-top-->

    
    <!--Main Header-->
    <header class="main-header sticky-header">
        <div class="container clearfix">
            <div class="logo pull-left">
                <figure>
                    <a href="/"><img src="images/logo.jpg" alt="" height="132" width="182"></a>
                </figure>
            </div>
            <div class="header-area pull-right">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>           
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="/">Home</a></li>
                            <li><a href="/about">Über Uns</a></li>  
                            <li><a href="/services">Leistungen</a></li>
                            <li><a href="/betreuer">Betreuer</a></li>
                            <li><a href="/contact">Kontaktieren Sie Uns</a></li>                                     
                        </ul>
                    </div>                    
                </nav>
            </div>
        </div>
    </header>
    <!--End Main Header -->