<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<%- include partials/ga.js %>

<title>Ancora 24H | About</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
</head>


<body>
<div class="page-wrapper">

<%- include partials/menu.ejs %>

    <!--Page Title-->
    <section class="page-title">
        <div class="container">
            <h1>Über Uns</h1>
            <ul class="title-menu">
                <li><a href="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Über Uns</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->


    <!--wellcome-section-->
    <section class="wellcome-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Willkommen bei Ancora 24h Personenbetreuung</h3>
                <p>Als österreichisches Unternehmen und der Kultur nahestehend, wissen wir wie wichtig es ist, <br>
                    dass unsere Liebsten im gewohnten Umfeld ihren Alltag meistern und die Freude am Leben spüren. <br>
                    Mit dem Alter kommen die zu erwarteten Schwierigkeiten und beinträchtigen unsere Eltern und Großeltern sehr.<br>
                    Diese Menschen haben unser Leben ermöglicht und es wird Zeit, dass auch wir Ihnen etwas ermöglichen.
                </p>
                <p>Mit ihren Wurzeln in Rumänien haben die Geschäftsführer ein angenehmes Konzept entwickelt um diese Freude <br>
                    jedem näher bringen zu können. Unsere Betreuer sind erfahrene Kräfte, welche ihrer Tätigkeit mit Eifer und Freude ausführen.
                </p>
                <p>
                    <b>Wir übernehmen ihre Sorgen. Schreiben sie der nervigen Bürokratie ab, wir erledigen das.</b>
                </p>
                <p>Nicht nur Sie sondern auch unsere Betreuer profitieren von unserem Einsatz. Es ist uns als Vermittlung, ein persönliches Anliegen, dass alles korrekt und mit wenig Aufwand von statten geht.
…Wir meistern, Sie leben die Freude…
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><img src="images/gabi.jpg" style="border-radius: 50%" height="172" width="172"><h5>Gabriel Oanea</h5></a>
                            <p>Aufgrund meiner bisherigen, zwischenmenschlichen Erfahrungen, habe ich gelernt wie wichtig es ist <br>
                                jemanden Beiseite zu haben, der für
                                diverse, teilweise alltägliche Tätigkeiten Unterstützung
                                bietet und einem das Gefühl gibt, dass man nicht alleine
                                ist. Dieses Gefühl möchte ich Menschen ermöglichen,
                                die eine Betreuung benötigen. Ein gewisses Feingefühl
                                dafür ist als Vermittlungsperson, sowie auch als
                                Betreuer von großer Bedeutung und wenn ich die
                                Positiven Ergebnisse meiner Tätigkeit sehe, dann
                                kann ich mit gutem Gewissen sagen, dass ich
                                den Menschen, die von unseren Leistungen
                                profitieren, eine große Last abnehmen,
                                konnte, um ihr Leben wieder lebenswerter
                                gestalten zu können. Dies ist etwas sehr
                                wertvolles, was mich selbst mit Freude erfüllt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><img src="images/paul.jpeg" style="border-radius: 50%" height="172" width="172"><h5>Paul Szabo</h5></a>
                            <p>„Wir sind nach Österreich gekommen, <br>
                                damit ihr Kinder eine bessere Zukunft
                                haben könnt. Das Land hat euch so viel
                                gegeben, nun gibt etwas zurück.“
                                Dies hat mir meine Mutter eingeprägt.
                                Nach meinem Präsenzdienst als
                                Rettungssanitäter beim Bundesheer,
                                war ich weiterhin
                                als freiwilliger Santitäter
                                tätig. Ich habe gemerkt wie wichtig es ist,
                                dass unsere ältere Generation die selbe Freude
                                spürt wie wir. Mit dieser Unternehmung
                                will ich endlich meine Dankbarkeit ausdrücken.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End wellcome-section-->


<%- include partials/footer.ejs %>

</div>

<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
