<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<%- include partials/ga.js %>

<title>Ancora 24H | About</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
</head>


<body>
<div class="page-wrapper">  
    

    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->

<%- include partials/menu.ejs %>    
    
    <!--Page Title-->
    <section class="page-title">
        <div class="container">
            <h1>Über Uns</h1>
            <ul class="title-menu">
                <li><a href="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Über Uns</li>
            </ul>          
        </div>
    </section>
    <!--End Page Title-->

    
    <!--wellcome-section-->
    <section class="wellcome-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Welcome to Elder Care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore <br> magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Health Care</h5></a>
                            <a href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Resident Care</h5></a>
                            <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Independent Care</h5></a>
                            <a href="#"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>24/7 Hours Support</h5></a>
                            <a href="#"><i class="fa fa-houzz" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End wellcome-section-->


    <!--service-section-->
    <section class="service-section">
        <div class="container-fluid">
            <div class="row">
                <div class="left-column col-md-5 col-sm-12 col-xs-12" style="background: url(images/background/1.jpg);">
                    <div class="section-title slide-title">
                        <h3>Our Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
                    </div>                   
                </div>
                <div class="right-colmun col-md-7 col-sm-12 col-xs-12" style="background: url(images/background/2.jpg);">
                    <div class="slider-container">
                        <div class="three-column-carousel">
                            <div class="slide-item">
                                <figure>
                                    <a href="service-details.html"><img src="images/resource/1.jpg" alt=""></a>
                                </figure>
                                <div class="item-text">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <h5>Home Care</h5>
                                </div>
                                <div class="overly-text">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <a href="service-details.html"><h5>Home Care</h5></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <a href="service-details.html">Read More</a>
                                </div>                                  
                            </div>
                            <div class="slide-item">
                                <div class="item-holder">
                                    <figure>
                                        <a href="service-details.html"><img src="images/resource/2.jpg" alt=""></a>
                                    </figure>
                                    <div class="item-text">
                                        <i class="fa fa-bed" aria-hidden="true"></i>
                                        <h5>Intensive Care</h5>
                                    </div>
                                    <div class="overly-text">
                                        <i class="fa fa-bed" aria-hidden="true"></i>
                                        <a href="service-details.html"><h5>Intensive Care</h5></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        <a href="service-details.html">Read More</a>
                                    </div>
                                </div>                            
                            </div>
                            <div class="slide-item">
                                <div class="item-holder">
                                    <figure>
                                        <a href="service-details.html"><img src="images/resource/3.jpg" alt=""></a>
                                    </figure>
                                    <div class="item-text">
                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                        <h5>Exercise Care</h5>
                                    </div>
                                    <div class="overly-text">
                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                        <a href="service-details.html"><h5>Exercise Care</h5></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        <a href="service-details.html">Read More</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>                                
        </div>                
    </section>
    <!--End service-section-->


    <!--team-section-->
    <section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Experts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/7.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Charles Nicholes</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Charles Nicholes</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/8.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Steven Moffat</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Steven Moffat</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/9.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Catrin Stewart</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Catrin Stewart</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/10.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Saul Metzstein</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Saul Metzstein</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End team-section-->

    
    <!--fetures-section-->
    <section class="fetures-section" style="background: url(images/background/3.jpg);">
        <div class="container clearfix">
            <div class="section-title pull-left">
                <h3>The support of <a href="index.html">Elder Care</a> <br>coordinator is always available</h3>
            </div>
            <div class="contact-link pull-right">
                <a href="contact.html" class="btn-style-two">Contact With Us</a>
            </div>
        </div>
    </section>
    <!--End fetures-section-->


    <!--contact-section-->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h3>Need an advice?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor inciddunt ut labore dolore magna aliqu enim ad.</p>
                    </div>
                    <div class="default-form-area">
                        <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn-style-one" data-loading-text="Please wait...">Send Message</button>
                                    </div>
                                </div>
                            </div>                                                                                                                           
                        </form>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="image-box">
                        <figure>
                            <img src="images/resource/7.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact-section-->

<%- include partials/footer.ejs %>

</div>

<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script type="js/jquery-1.10.2.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
