<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Elder Care Template | Home page</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
</head>


<body>
<div class="page-wrapper"> 	
 	

    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->


    <!--Header-top-->
    <section class="header-top">
        <div class="container">
            <div class="header-info">
                <ul class="info-list">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>Discover St, St Polten, AT 10012, AT</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Sat&nbsp;&nbsp;9.00 - 18.00</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+251-235-3256</li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="social-list">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Header-top-->

    
    <!--Main Header-->
    <header class="main-header sticky-header">
        <div class="container clearfix">
            <div class="logo pull-left">
                <figure>
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </figure>
            </div>
            <div class="header-area pull-right">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <!-- Toggle Button -->      
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>           
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="index.html">Home</a></li>
                            <li><a href="about.html">about</a></li>                            
                            <li class="dropdown"><a href="service.html">services</a>
                                <ul>
                                    <li><a href="service.html">service page</a></li>
                                    <li><a href="service-details.html">service details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="gellary.html">pages</a>
                                <ul>
                                    <li><a href="team.html">our team</a></li>
                                    <li><a href="faq.html">faq page</a></li>
                                    <li><a href="gallery.html">gallery</a></li>
                                    <li><a href="error.html">error page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="blog.html">News</a>
                                <ul>
                                    <li><a href="blog.html">our blog</a></li>
                                    <li><a href="single-blog.html">single blog</a></li>
                                </ul>
                            </li>                      
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>                    
                </nav>
                <div class="link-button">
                    <button class="btn-style-one">Appointment</button>
                </div>
            </div>
        </div>
    </header>
    <!--End Main Header -->
    
    
    <!--Main Slider-->
    <section class="main-slider">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul> 
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1.jpg"  data-saveperformance="off" data-title="Awesome Title Here">
                        <img src="images/main-slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                  
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="-68"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <h1>Best Home Care<br>with Love</h1>
                        </div> 
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="55"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi<br>dunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
                        </div>                    
                        <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="left" data-hoffset="15"
                        data-y="center" data-voffset="135"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="#" class="btn-style-two">Purchase Now</a></div>
                    </li>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"  class="text-right">
                        <img src="images/main-slider/2.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                   
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="right" data-hoffset="-15"
                        data-y="center" data-voffset="-68"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <h1>Best Home Care<br>with Love</h1>
                        </div>
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="right" data-hoffset="-15"
                        data-y="center" data-voffset="55"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi<br>dunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
                        </div>                    
                        <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="right" data-hoffset="-15"
                        data-y="center" data-voffset="135"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="#" class="btn-style-two">Purchase Now</a></div>
                    </li>
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="images/main-slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                   
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="-68"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <h1 class="text-center">Best Home Care<br>with Love</h1>
                        </div>
                        <div class="tp-caption sft sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="55"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidi<br>dunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
                        </div>                    
                        <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="135"
                        data-speed="1500"
                        data-start="500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="#" class="btn-style-two">Purchase Now</a></div>
                    </li>                   
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->

    
    <!--wellcome-section-->
    <section class="wellcome-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Welcome to Elder Care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore <br> magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Health Care</h5></a>
                            <a href="#"><i class="fa fa-heartbeat" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Resident Care</h5></a>
                            <a href="#"><i class="fa fa-gavel" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>Independent Care</h5></a>
                            <a href="#"><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item-holder text-center">
                        <div class="item-text">
                            <a href="#"><h5>24/7 Hours Support</h5></a>
                            <a href="#"><i class="fa fa-houzz" aria-hidden="true"></i></a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor inc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End wellcome-section-->


    <!--service-section-->
    <section class="service-section">
        <div class="container-fluid">
            <div class="row">
                <div class="left-column col-md-5 col-sm-12 col-xs-12" style="background: url(images/background/1.jpg);">
                    <div class="section-title slide-title">
                        <h3>Our Services</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco.</p>
                    </div>                   
                </div>
                <div class="right-colmun col-md-7 col-sm-12 col-xs-12" style="background: url(images/background/2.jpg);">
                    <div class="slider-container">
                        <div class="three-column-carousel">
                            <div class="slide-item">
                                <figure>
                                    <a href="service-details.html"><img src="images/resource/1.jpg" alt=""></a>
                                </figure>
                                <div class="item-text">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <h5>Home Care</h5>
                                </div>
                                <div class="overly-text">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <a href="service-details.html"><h5>Home Care</h5></a>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                    <a href="service-details.html">Read More</a>
                                </div>                                  
                            </div>
                            <div class="slide-item">
                                <div class="item-holder">
                                    <figure>
                                        <a href="service-details.html"><img src="images/resource/2.jpg" alt=""></a>
                                    </figure>
                                    <div class="item-text">
                                        <i class="fa fa-bed" aria-hidden="true"></i>
                                        <h5>Intensive Care</h5>
                                    </div>
                                    <div class="overly-text">
                                        <i class="fa fa-bed" aria-hidden="true"></i>
                                        <a href="service-details.html"><h5>Intensive Care</h5></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        <a href="service-details.html">Read More</a>
                                    </div>
                                </div>                            
                            </div>
                            <div class="slide-item">
                                <div class="item-holder">
                                    <figure>
                                        <a href="service-details.html"><img src="images/resource/3.jpg" alt=""></a>
                                    </figure>
                                    <div class="item-text">
                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                        <h5>Exercise Care</h5>
                                    </div>
                                    <div class="overly-text">
                                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                        <a href="service-details.html"><h5>Exercise Care</h5></a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                        <a href="service-details.html">Read More</a>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>                                
        </div>                
    </section>
    <!--End service-section-->


    <!--team-section-->
    <section class="team-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Experts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt</p>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/7.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Charles Nicholes</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Charles Nicholes</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/8.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Steven Moffat</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Steven Moffat</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/9.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Catrin Stewart</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Catrin Stewart</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="image-holder text-center">
                        <figure>
                            <a href="#"><img src="images/resource/10.jpg" alt=""></a>
                        </figure>
                        <div class="image-text">
                            <h6>Saul Metzstein</h6>
                            <p>Tablet Expert</p>
                        </div>
                        <div class="overly-text">
                            <a href="#"><h6>Saul Metzstein</h6></a>
                            <p>Tablet Expert</p>
                            <ul class="social-links">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                <li><i class="fa fa-vimeo" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End team-section-->

    
    <!--fetures-section-->
    <section class="fetures-section" style="background: url(images/background/3.jpg);">
        <div class="container clearfix">
            <div class="section-title pull-left">
                <h3>The support of <a href="index.html">Elder Care</a> <br>coordinator is always available</h3>
            </div>
            <div class="contact-link pull-right">
                <a href="contact.html" class="btn-style-two">Contact With Us</a>
            </div>
        </div>
    </section>
    <!--End fetures-section-->


    <!--gallery-section-->
    <section class="gallery-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Gallery</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/1.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/1.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/2.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/2.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/3.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/3.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/4.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/4.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/5.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/5.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-box">
                        <figure>
                            <img src="images/gallery/6.jpg" alt="">
                        </figure>
                        <div class="overly-box text-center">
                            <h5>photo no 1</h5>
                            <a href="images/gallery/6.jpg" data-fancybox-group="simple-project" class="fancybox"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End gallery-section-->

    
    <!--Testimonial Section-->
    <section class="testimonials-section" style="background-image:url(images/background/4.jpg);">
        <div class="container">
            <div class="testimonials-carousel">
                <div id="sync1" class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <img src="images/resource/2.png" data-src="images/resource/2.png" alt=""/>   
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu <br> enim ad minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat <br> cuidatat non proident sunt in culpa qui officia.</p>
                            <h6>Mark Hyman</h6>
                            <span>Happy Client</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/resource/3.png" data-src="images/resource/3.png" alt=""/>   
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu <br> enim ad minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat <br> cuidatat non proident sunt in culpa qui officia.</p>
                            <h6>Julia Robertson</h6>
                            <span>Happy Client</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/resource/4.png" data-src="images/resource/4.png" alt=""/>   
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu <br> enim ad minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat <br> cuidatat non proident sunt in culpa qui officia.</p>
                            <h6>Larry Brilliant</h6>
                            <span>Happy Client</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/resource/5.png" data-src="images/resource/5.png" alt=""/>   
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu <br> enim ad minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat <br> cuidatat non proident sunt in culpa qui officia.</p>
                            <h6>Carl Jung</h6>
                            <span>Happy Client</span>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/resource/6.png" data-src="images/resource/6.png" alt=""/>   
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu <br> enim ad minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat <br> cuidatat non proident sunt in culpa qui officia.</p>
                            <h6>Tamika Cross</h6>
                            <span>Happy Client</span>
                        </div>
                    </div>
                </div>
                <div id="sync2" class="owl-carousel owl-theme text-center">
                    <div class="item">
                        <div class="inner-box">
                            <figure class="author-thumb">
                                <img src="images/resource/2.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="author-thumb">
                                <img src="images/resource/3.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="author-thumb">
                                <img src="images/resource/4.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="author-thumb">
                                <img src="images/resource/5.png" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <figure class="author-thumb">
                                <img src="images/resource/6.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->


    <!--contact-section-->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h3>Need an advice?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor inciddunt ut labore dolore magna aliqu enim ad.</p>
                    </div>
                    <div class="default-form-area">
                        <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn-style-one" data-loading-text="Please wait...">Send Message</button>
                                    </div>
                                </div>
                            </div>                                                                                                                           
                        </form>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1">
                    <div class="image-box">
                        <figure>
                            <img src="images/resource/7.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--contact-section-->


    <!--Sponsors Style-->
    <section class="sponsors-logos">
        <div class="your-logo wow fadeInUp">
            <div class="container">
                <ul class="sponsors-slider">
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/1.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/2.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/3.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/4.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/5.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/1.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/2.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/3.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/4.png" alt=""></a>
                        </div>
                    </li>
                    <li class="image-holder">
                        <div class="image-box">
                            <a href="#"><img src="images/clients/5.png" alt=""></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Sponsors Style-->


    <!--Sponsors Style-->
    <section class="blog-section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Latest Blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <figure>
                            <a href="single-blog.html"><img src="images/blog/1.jpg" alt=""></a>
                        </figure>                            
                        <div class="image-content">
                            <div class="image-text">
                                <p>Admin</p>
                                <a href="single-blog.html"><h6>Finibus bonorum malorum.</h6></a>
                                <ul class="info-list">
                                    <li><i class="fa fa-user-o" aria-hidden="true"></i>Admin</li>
                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                    <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                                </ul>
                            </div>
                            <div class="link-btn">
                                <a href="single-blog.html">Read More</a>
                            </div>    
                        </div>                                
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <figure>
                            <a href="single-blog.html"><img src="images/blog/1.jpg" alt=""></a>
                        </figure>                            
                        <div class="image-content">
                            <div class="image-text">
                                <p>Admin</p>
                                <a href="single-blog.html"><h6>Finibus bonorum malorum.</h6></a>
                                <ul class="info-list">
                                    <li><i class="fa fa-user-o" aria-hidden="true"></i>Admin</li>
                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                    <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                                </ul>
                            </div>
                            <div class="link-btn">
                                <a href="single-blog.html">Read More</a>
                            </div>    
                        </div>                                
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="image-holder">
                        <figure>
                            <a href="single-blog.html"><img src="images/blog/1.jpg" alt=""></a>
                        </figure>                            
                        <div class="image-content">
                            <div class="image-text">
                                <p>Admin</p>
                                <a href="single-blog.html"><h6>Finibus bonorum malorum.</h6></a>
                                <ul class="info-list">
                                    <li><i class="fa fa-user-o" aria-hidden="true"></i>Admin</li>
                                    <li><i class="fa fa-heart-o" aria-hidden="true"></i>350</li>
                                    <li><i class="fa fa-comments-o" aria-hidden="true"></i>30</li>
                                </ul>
                            </div>
                            <div class="link-btn">
                                <a href="single-blog.html">Read More</a>
                            </div>    
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Sponsors Style-->


    <!--main-footer-->
    <footer class="main-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <figure>
                                    <a href="index.html"><img src="images/logo-2.png" alt=""></a>
                                </figure>
                            </div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamaboris nisi ut aliquip exea commodo.</p>
                        </div>
                    </div>
                    <div class="footer-column col-md-2 col-sm-6 col-xs-12">
                        <div class="service-widget">
                            <h5>Services Link</h5>
                            <ul class="service-link">
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Company History</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact Us</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Services</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="contact-widget">
                            <h5>Contact Us</h5>
                            <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit sed do eiusmod. </p>
                            <ul class="contact-link">
                                <li class="item">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <p>1201 park street, &nbsp;Avenue, Dhanmondy, Dhaka.</p>
                                </li>
                                <li class="item">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>[88] 657 524 332</p>
                                </li>
                                <li class="item">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="#"><p>info@fixera.com</p></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12 col-md-offset-1">
                        <div class="contact-area">
                            <h5>NewsLetter</h5>
                            <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit sed do eiusmod. </p>
                            <div class="default-form-area">
                                <form id="contact-form-two" name="contact_form" class="default-form" action="inc/sendmail.php" method="post" novalidate="novalidate">
                                    <div class="form-group">
                                        <input type="email" placeholder="Enter your email">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn-style-two" data-loading-text="Please wait...">Subscribe</button>
                                    </div>                                      
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container clearfix">
                <div class="copyright-text">
                    <p><a href="index.html">ElderCare</a> &copy; 2017 All Right Reserved</p>
                </div>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>    
    </footer>
    <!--End main-footer-->

</div>

<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script type="js/jquery-1.10.2.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
