<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<%- include partials/ga.js %>

<title>Ancora 24H | services</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
</head>


<body>
<div class="page-wrapper">  
    

    <!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->

<%- include partials/menu.ejs %>    
    
    <!--Page Title-->
    <section class="page-title">
        <div class="container">
            <h1>Services</h1>
            <ul class="title-menu">
                <li><a href="index.html">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li>Services</li>
            </ul>          
        </div>
    </section>
    <!--End Page Title-->


    <!--service-section-->
    <section class="service-section style-two">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/1.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h5>Home Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Home Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>                                  
                        </div>                                  
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/2.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <h5>Intensive Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Intensive Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/3.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h5>Exercise Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Exercise Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>
                        </div>                                
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/4.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h5>Family Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Family Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>                                  
                        </div>                                  
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/5.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <h5>Health Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Home Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>                                  
                        </div>                                  
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="slide-item">
                        <div class="item-holder">
                            <figure>
                                <a href="service-details.html"><img src="images/resource/6.jpg" alt=""></a>
                            </figure>
                            <div class="item-text">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <h5>Medical Care</h5>
                            </div>
                            <div class="overly-text">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                <a href="service-details.html"><h5>Medical Care</h5></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="service-details.html">Read More</a>
                            </div>                                  
                        </div>                                  
                    </div>
                </div>
            </div>  
        </div>                                   
    </section>
    <!--End service-section-->

<%- include partials/footer.ejs %>

</div>

<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top"><span class="icon fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery-2.1.4.js"></script> 
<script type="js/jquery-1.10.2.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.js"></script>
<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
<script src="js/masterslider/masterslider.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/validate.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
